{% extends "base.html" %}
{% block title %}
    Main
{% endblock %}
{% block menu %}
    {% include "inc-style.html" %}
{% endblock %}
{% block body %}
<h3 align="center">
    CONTACTS
</h3>
<form action="#" method="get">
    <div class="container-sm">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="floatingInput" value="email@mail.ru">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="floatingPassword" value="password">
            <label for="floatingPassword">Password</label>
        </div>
        <button class="btn btn-primary" type="submit" style="margin-top: 1rem">Send</button>
    </div>
</form>
<div class="container" style="margin-top: 1rem">
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae dicta dolorum expedita, fugit, harum
        incidunt iure natus nostrum possimus quas quasi quibusdam quo quod reprehenderit unde velit vero
        voluptatibus.
    </p>
</div>
{% endblock %}