{% extends "base.html" %}
{% block title %}Content{% endblock %}
{% block body %}
<h3 align="center">
    INTERESTING FACTS
</h3>
<div class="container" style="margin-top: 1rem">
    <div class="row">
        <div class="col">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto autem doloremque eaque esse, et
            expedita, facere fugiat id impedit in ipsam iure laudantium maxime non quo soluta, suscipit voluptatum!
        </div>
        <div class="col">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae doloribus et, necessitatibus nemo qui sint
            vitae. Ea esse ipsum laborum mollitia nisi nulla perferendis, perspiciatis quod vitae.
        </div>
        <div class="col">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto commodi, deserunt eligendi excepturi
            incidunt labore laudantium mollitia nobis non obcaecati officia rem reprehenderit saepe vero.
        </div>
    </div>
</div>
<div class="container" style="margin-top: 1rem">
    <h3 align="center">CATEGORIES LIST</h3>
    <div style="margin-top: 1rem">
        {% for item in objects_list %}
        <li>
            {{item.name}} <span> - number of courses: {{item.course_count()}}</span>
            <a href="/courses-list/?id={{item.id}}">show courses</a>
        </li>
        {% endfor %}
    </div>
    <div align="center" style="margin-top: 1rem">
        <a href="/create-category/">CREATE NEW CATEGORY</a>
    </div>
    <hr>
    <div>
        <li>
            <a href="/student-list/">Students list</a>
        </li>
        <li>
            <a href="/create-student/">Create student</a>
        </li>
        <li>
            <a href="/add-student/">Add student to the course</a>
        </li>
    </div>
</div>
{% endblock %}