<div class="container">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Content/">Content</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contacts/">Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/About/">About</a>
        </li>
    </ul>
</div>

<hr>