<div class="container">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/content/">Content</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/study-programs/">Study programs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/courses-list/">Courses list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contacts/">Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
        </li>
    </ul>
</div>

<hr>